{
    "extends": "stylelint-config-standard",
    "rules": {
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": [
                    "extend",
                    "at-root",
                    "debug",
                    "warn",
                    "error",
                    "if",
                    "else",
                    "for",
                    "each",
                    "while",
                    "mixin",
                    "include",
                    "content",
                    "return",
                    "function"
                ]
            }
        ],
        "color-named": "always-where-possible",
        "declaration-no-important": true,
        "indentation": 4,
        "max-empty-lines": 2,
        "string-quotes": "single"
    }
}
