"*":
  core:
    reopenProjectMenuCount: 13
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Monaco"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.4
  "exception-reporting":
    userId: "edecb10e-db0a-420a-a305-ae297633a49a"
  welcome:
    showOnStartup: false
